{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    主页
{% endblock %}

{% block body_block %}
    <h1>小闺蜜说...</h1>
    <strong>我最爱的分类</strong>
    <div>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'show_category' category.slug %}">{{category.name}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <q>没有找到分类</q>
    {% endif %}
    </div>

    <strong>我最爱的网页</strong>
    <div>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ page.url }}">{{page.title}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <q>没有找到网页</q>
    {% endif %}
    </div>
    <div>
        <img src="{% static "image/妹妹君.jpg" %}" alt="可爱小闺蜜的图片"/><br/>
        <a href="/admin/">管理站点</a>
    </div>
{% endblock %}
